* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
  /* filter: blur(5px); */
}

.main {
  position: relative;
}
.first-content {
  /* width: 100%; */
  position: relative;
  background-image: linear-gradient(to right, #36bdab28, #ff7e8411, #ff7e842c);
  padding-bottom: 2rem;
  /* background-image: linear-gradient( to bottom,white 100%,white 20%); */
}

.blur-line {
  position: absolute;
  padding: 3rem 0;
  width: 100%;
  top: 0;
  /* box-shadow: 0 2px 5px white; */
  /* background-color: red; */
  backdrop-filter: blur(120px);
}
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;
  /* background-image: linear-gradient(to right,#36bdab0f,#ff7e8411,#ff7e840d); */

  /* background-color: red; */
  padding: 1rem 5rem 1rem 5rem;
}

.logo {
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  margin-left: -10rem;
}

.first-logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.second-logo {
  font-size: 1.5rem;
  font-weight: 300;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 8rem 0rem 8rem;

  /* background-color: aquamarine; */
}

.menu-item {
  margin: 0 0rem 0 2rem;
  text-align: center;
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  /* background-color: red; */
}

.menu-item:hover {
  opacity: 1;
  font-weight: 600;
  z-index: 100;
}

.trial-btn {
  margin: 0 0 0 4rem;
  z-index: 100;
}

.trial {
  border: none;
  padding: 1.2rem 1.9rem 1.2rem 1.9rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  text-transform: capitalize;
  background-color: #ff7e85;
  cursor: pointer;
}

.trial:hover {
  background-color: #f36970;
}
.caret-icon {
  font-size: 0.7rem;
  margin-left: 0.3rem;
  opacity: 0.6;
}

.first-cont {
  padding-top: 92px;
}

.main-text {
  font-size: 3.5rem;
  margin: 7rem 0 0 5rem;
  text-transform: capitalize;
  line-height: 5rem;
}

.edu-text {
  position: relative;
  color: #36bdaa;
}
.edu-line {
  position: absolute;
  bottom: 0px;
  padding: 1px;
  background-color: #36bdaa;
  width: 100%;
}

.sub-text {
  margin-top: 1rem;
  margin-left: 5rem;
  width: 430px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #8e9494;
}

.email-box {
  padding: 0.3rem 0rem;
  margin-top: 1rem;
  margin-left: 5rem;
  border-radius: 5px;
  position: relative;
  background-color: white;
  width: 29%;
  box-shadow: 0px 30px 90px -20px;

  /* background-color: blue; */
}
.email-field {
  /* background-color: #ff7e85; */
  border: none;
  outline: none;
  padding: 1rem;
  margin-left: 20px;
}

.email-icon {
  position: absolute;
  /* transform: translate(50%,-50%); */
  top: 30%;
  left: 3.5%;
  color: #cbcbcb;
  font-size: 0.8rem;
}

.email-field::placeholder {
  text-transform: capitalize;
  /* text-align: center; */
}

.email-btn {
  padding: 0.8rem 1.4rem;
  border-radius: 5px;
  background-color: #ff7e85;
  text-transform: capitalize;
  color: white;
  border: none;
}

.email-btn:hover {
  background-color: #f55e66;
}

.circle {
  position: absolute;
  /* padding: 5rem; */
  width: 380px;
  height: 380px;
  border-radius: 50%;
  background-color: #ff7e85;
  right: 200px;
  top: 160px;
  opacity: 0.4;
}

.circle-2 {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #eab676;
  right: 20px;
  top: 220px;
}

.circle-3 {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff7e85;
  left: 550px;
  top: 180px;
  opacity: 0.8;
}

.circle-4 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid white;
  left: -160px;
  top: -210px;
}

.main-img {
  position: absolute;
  top: 60px;
  right: 200px;
  height: 535px;
  overflow: hidden;

  /* background-color: red; */
}

.img1 {
  width: 90%;
}

.card {
  position: relative;
  left: 650px;
  top: -270px;
  width: 95px;
  height: 110px;
  border-radius: 5px;
  background-color: white;
  filter: drop-shadow(2px 0px 140px);
}

.inner-card {
  position: absolute;
  border-radius: 5px;
  padding: 1.2rem;
  background-color: #e9f6ff;
  transform: translate(50%, 0);
  right: 50%;
  top: 18px;
}

.in-pic {
  position: absolute;
  transform: translate(50%, -30%);
  right: 50%;
  /* bottom:50%; */
}
.book-icon {
  width: 55px;
}

.card-num {
  position: absolute;
  transform: translate(50%, 0);
  color: #ff7e85;
  right: 50%;
  top: 60px;
  font-size: 0.8rem;
  font-weight: 700;
}

.card-text {
  position: absolute;
  text-transform: capitalize;
  font-size: 0.65rem;
  font-weight: 700;
  bottom: 15px;
  left: 10px;
  color: #818184;
}

.second-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 30px 20px 30px 20px;
}

.gal-pics {
  position: relative;
  margin-right: 10rem;
  margin-top: -10rem;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
.gal-pic1 {
  position: absolute;
  z-index: 20;
  height: 270px;
  width: 270px;
  overflow: hidden;
}

.img2 {
  width: 100%;
}

.gal-pic2 {
  position: absolute;
  left: 220px;
  top: 198px;
  z-index: 30;
  height: 270px;
  width: 270px;
  overflow: hidden;
}

.img3 {
  width: 100%;
}

.pic-circle {
  /* padding: 40px; */
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
  border: 36px solid #ff7e85;
  top: 170px;
  left: 105px;
  opacity: 0.4;
  /* background-color: #36bdaa; */
}
.about {
  position: relative;

  /* background-color: red; */
  /* margin-top: 20rem; */
  margin-left: 30rem;
}

.abt-text {
  font-size: 0.8rem;
  color: #36bdaa;
  text-transform: capitalize;
}

.about-title {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.in-text {
  position: relative;
  color: #ff7e85;
}

.line2 {
  position: absolute;
  padding: 1px;
  width: 100%;
  background-color: #ff7e85;
  bottom: 0;
  right: 0;
}

.descrip {
  font-size: 0.8rem;
  width: 350px;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.descrip-list1 {
  display: flex;
}

.listimg1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  background-color: #36bdab44;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.listimg1 img {
  width: 100%;
}
.descrip-list2 {
  display: flex;
}

.listimg2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  background-color: #36bdab44;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.listimg2 img {
  width: 70%;
}

.descrip-cont1 {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.descrip-title1 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
}

.descrip-text1 {
  font-size: 0.8rem;
  opacity: 0.7;
}

.descrip-cont2 {
  margin-left: 1.5rem;
}
.descrip-title2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
}

.descrip-text2 {
  font-size: 0.8rem;
  opacity: 0.7;
}

.readmore-btn {
  margin-top: 2rem;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  font-weight: 600;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #ff7e85;
  color: white;
}

.readmore-btn:hover {
  background-color: #f36970;
}

.lin {
  z-index: 30;
  position: absolute;
  left: 420px;
  width: 1px;
  height: 9px;
  opacity: 0.2;
  background-color: #36bdaa;
}

.lin1 {
  left: 430px;
}

.lin2 {
  left: 440px;
}

.lin3 {
  left: 450px;
}

.lin4 {
  left: 460px;
}

.lin5 {
  left: 470px;
}

.lin6 {
  left: 480px;
}

.lin7 {
  left: 490px;
}

.lin8 {
  left: 500px;
}

.lin9 {
  left: 510px;
}

.lin10 {
  left: 520px;
}

.lines {
  margin-bottom: 1.5rem;
}

.lines2 {
  margin-bottom: 3rem;
}

.lines3 {
  margin-bottom: 4.5rem;
}

.lines4 {
  margin-bottom: 6rem;
}

.lines5 {
  margin-bottom: 7.5rem;
}

.lines6 {
  margin-bottom: 9rem;
}

.lines7 {
  margin-bottom: 10.5rem;
}

.blurrable {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 40;
  /* background-color: red; */
  /* display: none; */
  backdrop-filter: blur(15px);
}

.trial-drpdwn {
  position: fixed;
  top: 80px;
  left:50%;
  transform: translate(-50%,0);
  z-index: 50;
  display:none;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height:70vh;
  padding: 2rem 0rem;
  border-radius: 10px;
  background-image: linear-gradient(to right, #36bdab8a, #36bdab80, #ff7e845d);
  /* background-color: red; */
  /* transform: translate(50%, -50%);
  left: -50%; */
}

.cont-highlit {
  color: #f36970;
  opacity: 0.7;
  font-size: 2.2rem;
  font-weight: 700;
}

.trial-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  width: 40%;
  height: 450px;
  overflow: hidden;
}

.trial-pic img {
  width: 100%;
}

.trial-cont-text {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  color: #36bdaa;
}

.form-cont {
  margin-bottom: 1rem;
  background-color: white;
}

.form-cont input {
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  outline: none;
}

.form-cont input::placeholder {
  text-transform: capitalize;
}

.trial-icon {
  padding-left: 0.3rem;
  color: #cbcbcb;
}

.startTrial-btn {
  border: none;
  background-color: #36bdaa;
  color: white;
  text-transform: capitalize;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.startTrial-btn:hover {
  background-color: #0b8070;
}

